<div class="jumbotron main" style="width: 80vw">
    <h1>SAC Attendance System</h1>
    <p class="lead" style="font-size: 2rem;">v{{ version }}</p>
    <hr>
    <p>
    <h4>Versioning Information</h4>
    <ul>
        <li><b>Version Number: </b>{{ versionNumber }}</li>
        <li><b>Date: </b>{{ versionDate }}</li>
        <li><b>Timestamp: </b>{{ versionTime }}</li>
    </ul>
    <br>
    <h4>System Configuration</h4>
    <ul>
        <li><b>OS Name: </b>{{ osName }}</li>
        <li><b>System Time: </b>{{ osTime }}</li>
    </ul>
    </p>
    <hr>
    <p>Made with <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="text-danger"><i class="fas fa-heart"></i></span></a> by <b>MakerspaceNYP</b> &bull; <a target="_blank"
            href="https://github.com/XinYang-YXY/sacAttendance"><i class="fab fa-github"></i></a></p>
</div>