<meta http-equiv="refresh" content="60">


<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-8 has-text-centered">
        <h2 class="mt-2 mb-4 is-size-1 -mobile has-text-weight-bold has-text-white">Student Assistant Coaches On Shift</h2>
        <h2 class="mt-2 mb-4 is-size-3 -mobile has-text-weight-bold has-text-white">Please feel free to approach them for help :D</h2>
        <ol class="pt-5">
          <div class="columns">
            {{#each sacInfoList}}
              <div class="column box mx-3 my-0 has-text-weight-bold">
                {{#if this.sacPhoto}}
                <div class="columns">
                  <div class="column">
                    <figure class="image is-square">
                      <img src="{{this.sacPhoto}}" alt="{{this.sacPhoto}}" class="img-fluid">
                    </figure>
                    <div class="columns">
                      <div class="column is-size-3">{{this.sacName}}</div>
                    </div>
                  </div>
                  {{else}}
                    <div class="is-size-3">
						{{this.sacName}}
					</div>
                  {{/if}}
                </div>
              </div>
                {{else}}
                <li class="box mt-2 mb-4 is-size-2 -mobile has-text-weight-bold">We Will Be Back By 10:00 A.M.</li>
            {{/each}}
          </div>
        </ol>
      </div>
    </div>
  </div>
</section>